#keys (ALWAYS required because flow.json will not parse correctly otherwise)
TESTNET_PDS=070704779ca994b7
TESTNET_OWNER=1153614405ad9ed6
TESTNET_ISSUER=f534d89914579e09


# # Emulator
# # --------
NETWORK=emulator
FLOW_PDS_DATABASE_DSN=postgresql://pds:pds@localhost:5432/pds
FLOW_PDS_DATABASE_TYPE=psql
FLOW_PDS_ADMIN_ADDRESS=f3fcd2c1a78f5eee

# # Local private key stored in the environment
FLOW_PDS_ADMIN_PRIVATE_KEY=9c687961e7a1abe1e445830e7ec118ffd1e2a0449cf705f5476b3f100e94dc29
FLOW_PDS_ADMIN_KEY_TYPE=local
FLOW_PDS_ADMIN_PRIVATE_KEY_INDEXES=0

# # Google KMS key, remember to configure GOOGLE_APPLICATION_CREDENTIALS
# FLOW_PDS_ADMIN_PRIVATE_KEY=projects/KMS_PROJECT_NAME/locations/KMS_PROJECT_LOCATION/keyRings/KMS_KEYRING_NAME/cryptoKeys/KMS_ADMIN_KEY_NAME/cryptoKeyVersions/1
# FLOW_PDS_ADMIN_PRIVATE_KEY_TYPE=google_kms
# FLOW_PDS_ADMIN_PRIVATE_KEY_INDEXES=1
# GOOGLE_APPLICATION_CREDENTIALS=KEY_PATH

NON_FUNGIBLE_TOKEN_ADDRESS=f8d6e0586b0a20c7
FUNGIBLE_TOKEN_ADDRESS=f8d6e0586b0a20c7
METADATA_VIEWS_ADDRESS=f8d6e0586b0a20c7
PDS_ADDRESS=f3fcd2c1a78f5eee
EXAMPLE_NFT_ADDRESS=01cf0e2f2f715450 # for tests
PACKNFT_ADDRESS=01cf0e2f2f715450 # for tests
FLOW_PDS_POLL_INTERVAL=1s

# # Testnet
# # --------
# NETWORK=testnet
# FLOW_PDS_DATABASE_DSN=
# FLOW_PDS_DATABASE_TYPE=
# FLOW_PDS_ADMIN_ADDRESS=070704779ca994b7
# FLOW_PDS_ADMIN_PRIVATE_KEY=
# NON_FUNGIBLE_TOKEN_ADDRESS=631e88ae7f1d7c20
# PDS_ADDRESS=070704779ca994b7
# EXAMPLE_NFT_ADDRESS=f534d89914579e09 # for tests
# PACKNFT_ADDRESS=f534d89914579e09 # for tests
