#keys (ALWAYS required because flow.json will not parse correctly otherwise)
TESTNET_PDS=
TESTNET_OWNER=
TESTNET_ISSUER=

# # Emulator 
# # --------
FLOW_PDS_DATABASE_DSN=postgresql://pds:pds@localhost:5432/pds
FLOW_PDS_DATABASE_TYPE=psql

FLOW_PDS_ADMIN_ADDRESS=f3fcd2c1a78f5eee
FLOW_PDS_ADMIN_PRIVATE_KEY=9c687961e7a1abe1e445830e7ec118ffd1e2a0449cf705f5476b3f100e94dc29

NETWORK=emulator
NON_FUNGIBLE_TOKEN_ADDRESS=f8d6e0586b0a20c7
EXAMPLE_NFT_ADDRESS=01cf0e2f2f715450
PACKNFT_ADDRESS=01cf0e2f2f715450
PDS_ADDRESS=f3fcd2c1a78f5eee

# # Testnet 
# # --------
# NETWORK=testnet
# FLOW_PDS_DATABASE_DSN=
# FLOW_PDS_DATABASE_TYPE=
# FLOW_PDS_ADMIN_ADDRESS=070704779ca994b7
# FLOW_PDS_ADMIN_PRIVATE_KEY=
# NON_FUNGIBLE_TOKEN_ADDRESS=631e88ae7f1d7c20
# EXAMPLE_NFT_ADDRESS=f534d89914579e09
# PACKNFT_ADDRESS=f534d89914579e09
# PDS_ADDRESS=070704779ca994b7